@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Outfit', sans-serif ;
	font-size: 16px;
	background: hsl(30, 54%, 90%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50%;
}
.card {
	margin-top: 4rem;
	background: hsl(0, 0%, 100%);
	max-width: 45rem;
	padding: 2rem;
	border-radius: 1.3rem;
	margin-bottom: 3rem;
}
img {
	max-width: 100%;
	border-radius: 0.8rem;
	margin-bottom: 1.5rem;
}
h1 {
	font-family: 'Young Serif', sans-serif;
	font-size: 2.3rem;
	color: hsl(24, 5%, 18%);
	font-weight: 400;
	margin-bottom: 1rem;
}
h2 {
	font-family: 'Young Serif', sans-serif;
	font-size: 1.8rem;
	color: hsl(14, 45%, 36%);
	font-weight: 400;
	margin-bottom: 1rem;
}
p {
	color: hsl(332, 51%, 32%);
	margin-bottom: 2rem;
}
.prep,
.steps {
	background: hsl(330, 100%, 98%);
	color: hsl(332, 51%, 32%);
	padding: 1rem 2rem 0.5rem;
	border-radius: 0.8rem;
}
.prep{
	margin-bottom: 1.7rem;
}
li {
	padding-left: 0.8rem;
	margin-bottom: 0.7rem;
	color: hsl(332, 51%, 32%);
	font-weight: 400;
}
li::marker {
	font-size: 0.8rem;
	color:hsl(14, 45%, 36%);
}
.ingredients ul {
	margin-left: 1.5rem;
	margin-bottom: 1.7rem;
}
.ingredients li {
	padding-left: 1rem;
}
.ingredients hr {
	margin-bottom: 1.5rem;
	border: none;
	height: 0.05rem;
	background-color: hsl(30, 18%, 87%);
}
.instructions ol {
	margin-left: 1.5rem;
	margin-bottom: 1.7rem;
}
.instructions li {
	padding-left: 1rem;
}
.instructions hr {
	margin-bottom: 1.5rem;
	border: none;
	height: 0.05rem;
	background-color: hsl(30, 18%, 87%);
}
.instructions li::marker {
	font-weight: bold;
	font-size: 1rem;
}
.nutrition li {
	display: flex;
	justify-content: space-between;
}
table {
  border-collapse: collapse;
  font-family: "Outfit", sans-serif;
  width: 90%;
  margin-top: 1rem;
}

tr:not(:last-child) {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

th {
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  text-align: start;
  padding-left: 1.5rem;
}

td {
  font-weight: 700;
  color: hsl(14, 45%, 36%);
  padding: 0.6rem 0;
}

@media (max-width: 680px) {
	.card {
		max-width: 30rem;
    }
@media (max-width: 425px) {
	.card {
		margin-top: 0;
		padding: 0;
		border-radius: 0;
		margin-bottom: 1rem;
	}
	img {
		border-radius: 0;
		padding: 0;
    }
    .details {
		padding: 0.2rem 2rem;
    }
}